{% extends "base.html" %}
{% block title %}Order History{% endblock %}

{% block content %}
<h2>Your Orders</h2>

<ul>
    {% for order in orders %}
        <li>
            <strong>Order #{{ order.id }}</strong>  
            Date: {{ order.order_date|date:"Y-m-d H:i" }} 
            <strong>Status:</strong> {{ order.status|title }} <br>

            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.quantity }} x {{ item.menu_item.name }} (Rs: {{ item.price }})</li>
                {% endfor %}
            </ul>

            <p><strong>Total Before Discount:</strong> Rs: {{ order.total_before_discount }}</p>
            
            {% if order.discount %}
                <p><strong>Discount Applied:</strong> {{ order.discount.name }}  
                (-Rs: {{ order.discount_amount }})</p>
            {% endif %}

            <p><strong>Total After Discount:</strong> Rs: {{ order.total_after_discount }}</p>
        </li>
        <hr>
    {% empty %}
        <li>No past orders.</li>
    {% endfor %}
</ul>
{% endblock %}
